/*#settings{display: none}*/
#settings {

}

#settings #text {
  height: 100%;
  margin:5px;
}
#settings #text, #settings #controls{
  width:100%
}
#speed label {
  width:100%;
  display:block;
}
#speed label select{
  display:inline-block;
  width:100%
}

#readport{
  width:100%;
  height:100%;
  font-size:6em;
  text-align:center;
  position: relative;
  top:0;
  left:0
  /*top: 50%;
  transform: translateY(-50%);*/
}


body{
  background:#0d3c55;
  color:#f1f3f4;
}
#settings{
  background:#156188;
  padding-bottom:20px;
  border-bottom:0.5px solid #f1f3f4;
}
